.dashboard.section {
  padding: 0;
  background: transparent;
  box-shadow: none;
}

.dashboard .section-header {
  margin-bottom: 0;
  border-bottom: transparent;
}

.dashboard__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -3%;
}

.dashboard__item {
  position: relative;
  width: calc((100% - 9%) / 3);
  margin: 0 1.5%;
  margin-bottom: 3%;
  padding: rem(30);
  border-radius: 10px;
  box-shadow: 8px 6px 18px 2px rgba(14, 15, 15, 0.3);
}

.dashboard__item::before {
  content: "";
  position: absolute;
  top: rem(30);
  right: rem(30);
  width: rem(120);
  height: rem(110);
}

.dashboard-item--comments::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%2343648d' d='M10 25.465h13a1 1 0 1 0 0-2H10a1 1 0 1 0 0 2zm26 4H10a1 1 0 1 0 0 2h26a1 1 0 1 0 0-2zm0 6H10a1 1 0 1 0 0 2h26a1 1 0 1 0 0-2z'/%3E%3Cpath fill='%2343648d' d='M54.072 2.535l-34.142-.07c-3.27 0-5.93 2.66-5.93 5.93v5.124l-8.07.017c-3.27 0-5.93 2.66-5.93 5.93v21.141c0 3.27 2.66 5.929 5.93 5.929H12v10a1 1 0 0 0 1.74.673l9.704-10.675 16.626-.068c3.27 0 5.93-2.66 5.93-5.929v-.113l5.26 5.786a1.002 1.002 0 0 0 1.74-.673v-10h1.07c3.27 0 5.93-2.66 5.93-5.929V8.465a5.937 5.937 0 0 0-5.928-5.93zM44 40.536a3.934 3.934 0 0 1-3.934 3.929l-17.07.07a1 1 0 0 0-.736.327L14 53.949v-8.414a1 1 0 0 0-1-1H5.93A3.934 3.934 0 0 1 2 40.606V19.465a3.935 3.935 0 0 1 3.932-3.93L15 15.516h.002l25.068-.052a3.934 3.934 0 0 1 3.93 3.93v21.142zm14-10.93a3.934 3.934 0 0 1-3.93 3.929H52a1 1 0 0 0-1 1v8.414l-5-5.5V19.395c0-3.27-2.66-5.93-5.932-5.93L16 13.514v-5.12a3.934 3.934 0 0 1 3.928-3.93l34.141.07h.002a3.934 3.934 0 0 1 3.93 3.93v21.142z'/%3E%3C/svg%3E") center/contain no-repeat;
}

.dashboard-item--users::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 380.65 380.65' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23bc8628' d='M310.805 268.65h-44.84a53.568 53.568 0 0 0-26.44 6.96 54.529 54.529 0 0 0-17.4 15.64 53.75 53.75 0 0 0-9.28-.8h-44.88a53.651 53.651 0 0 0-9.28.8 54.484 54.484 0 0 0-17.4-15.64 53.568 53.568 0 0 0-26.44-6.96h-44.84c-29.796.066-53.934 24.204-54 54v30.44a5.8 5.8 0 0 0 5.8 5.76h92v16a5.8 5.8 0 0 0 5.8 5.8h141.44a5.8 5.8 0 0 0 5.8-5.8v-16h92a5.8 5.8 0 0 0 5.8-5.8v-30.4c-.066-29.734-24.107-53.846-53.84-54zm-196.4 70.6v8h-86.8v-24.6c.066-23.39 19.01-42.334 42.4-42.4h44.84a41.998 41.998 0 0 1 20.72 5.44 43.083 43.083 0 0 1 11.24 9.16 54.281 54.281 0 0 0-32.4 44.4zm140.72 5.2v24.64h-129.56v-33.72l.24-.96.4-1.44.28-.96c5.746-17.415 21.982-29.206 40.32-29.28l1.16-.64h44.88c21.297.078 39.258 15.885 42.04 37 0 .88 0 1.76.24 2.64v2.72zm98.08 2.84h-86.4v-16.8l-.28-1v-1.96l-.56-1.56a54.44 54.44 0 0 0-29.44-30.84 43.081 43.081 0 0 1 8.68-9.44 41.998 41.998 0 0 1 20.72-5.44h44.88c23.389.066 42.334 19.01 42.4 42.4v24.64z'/%3E%3Ccircle fill='%23bc8628' cx='190.645' cy='77.85' r='6.56'/%3E%3Cpath fill='%23bc8628' d='M121.285 189.17a40.682 40.682 0 0 0-28.88-12c-22.555-.02-40.856 18.248-40.876 40.804-.02 22.555 18.248 40.856 40.804 40.876s40.856-18.248 40.876-40.804a40.841 40.841 0 0 0-11.924-28.876zm-8.2 49.48c-11.417 11.421-29.93 11.425-41.352.008-11.421-11.417-11.425-29.93-.008-41.352 11.417-11.421 29.93-11.425 41.352-.008a29.24 29.24 0 0 1 8.568 20.672 29.157 29.157 0 0 1-8.56 20.68z'/%3E%3Ccircle fill='%23bc8628' cx='233.045' cy='77.85' r='6.56'/%3E%3Cpath fill='%23bc8628' d='M258.725 22.73A109.64 109.64 0 0 0 190.405.01a109.642 109.642 0 0 0-68.32 22.72c-17.92 14.32-29 34.24-29 56.28a66.478 66.478 0 0 0 8.28 32 80.804 80.804 0 0 0 20.36 24l-4.6 30.6a5.76 5.76 0 0 0 8.6 5.84l31.28-18.24a114.317 114.317 0 0 0 15.12 3.4 120.053 120.053 0 0 0 18.32 1.4 109.64 109.64 0 0 0 68.32-22.72c17.88-14.36 28.96-34.24 28.96-56.28s-11.08-41.96-29-56.28zm-7.2 103.6a98.038 98.038 0 0 1-61.12 20c-5.53.008-11.053-.406-16.52-1.24a102.766 102.766 0 0 1-16-3.72 5.76 5.76 0 0 0-4.64.52l-22.84 13.48 3.32-22a5.799 5.799 0 0 0-2.36-5.56 70.206 70.206 0 0 1-20-22.4 54.964 54.964 0 0 1-6.8-26.4c0-18.4 9.4-35.12 24.6-47.28a98.038 98.038 0 0 1 61.12-20 98.038 98.038 0 0 1 61.12 20c15.2 12 24.6 28.88 24.6 47.28 0 18.4-9.28 35.12-24.48 47.32zm36.913 50.8c-22.555-.02-40.856 18.248-40.876 40.804a40.835 40.835 0 0 0 11.924 28.876 40.682 40.682 0 0 0 28.88 12c22.555.02 40.856-18.248 40.876-40.804s-18.249-40.856-40.804-40.876zm20.647 61.503c-11.417 11.421-29.93 11.425-41.352.008a29.24 29.24 0 0 1-8.568-20.672 29.157 29.157 0 0 1 8.56-20.68c11.417-11.421 29.93-11.425 41.352-.008 11.421 11.417 11.425 29.931.008 41.352z'/%3E%3Ccircle fill='%23bc8628' cx='148.245' cy='77.85' r='6.56'/%3E%3Cpath fill='%23bc8628' d='M219.225 210.83a40.8 40.8 0 0 0-28.82-11.9 40.682 40.682 0 0 0-28.88 12c-15.906 15.961-15.861 41.794.1 57.7 15.961 15.906 41.794 15.861 57.7-.1s15.861-41.794-.1-57.7zm-28.828 58.212c-16.149-.005-29.236-13.1-29.232-29.248s13.1-29.236 29.248-29.232a29.24 29.24 0 0 1 20.672 8.568 29.157 29.157 0 0 1 8.56 20.68c-.005 16.149-13.1 29.236-29.248 29.232z'/%3E%3C/svg%3E") center/contain no-repeat;
}

.dashboard-item--unmoderated::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23434c71' d='M494.353 46.611l-30.766-30.766c-20.064-20.064-53.872-21.231-75.366-2.6l-54.071 46.87a8.708 8.708 0 0 0-1.758 2.091l-52.635 87.676-33.796 11.265a8.684 8.684 0 0 0-3.395 14.38l92.105 92.104a8.688 8.688 0 0 0 8.136 2.311 8.684 8.684 0 0 0 6.244-5.706l11.268-33.807 88.965-53.72a8.691 8.691 0 0 0 2.085-1.761l45.76-53.029c18.527-21.468 17.28-55.251-2.776-75.308zm-10.372 63.961l-44.857 51.982-90.52 54.659a8.682 8.682 0 0 0-3.749 4.689l-7.837 23.512-20.755-20.755-.011-.013-30.703-30.701-.01-.008-20.757-20.757 23.512-7.837a8.686 8.686 0 0 0 4.699-3.768l53.578-89.243 53.026-45.964c14.753-12.79 37.949-12.002 51.708 1.759l30.767 30.766c13.766 13.764 14.622 36.948 1.909 51.679z'/%3E%3Cpath fill='%23434c71' d='M469.736 348.922c-25.496-25.495-63.021-34.357-97.02-23.335L188.164 141.035c11.021-33.999 2.159-71.525-23.335-97.021-26.86-26.858-67.071-35.26-102.445-21.396a8.685 8.685 0 0 0-2.972 14.225l55.241 55.24-36.843 36.842-55.24-55.241a8.68 8.68 0 0 0-14.225 2.972c-13.862 35.372-5.463 75.584 21.396 102.445 25.496 25.495 63.021 34.359 97.02 23.335l69.008 69.008-85.937 85.939-54.658 30.56a8.686 8.686 0 0 0-3.529 3.696l-24.561 49.122a8.685 8.685 0 0 0 1.626 10.025l30.701 30.702a8.681 8.681 0 0 0 10.025 1.626l49.122-24.561a8.686 8.686 0 0 0 3.696-3.529l30.56-54.659 85.939-85.936 72.561 72.561c-11.022 33.999-2.159 71.525 23.336 97.021 18.263 18.262 42.696 27.99 67.586 27.99a95.501 95.501 0 0 0 34.858-6.593 8.685 8.685 0 0 0 2.972-14.225l-55.241-55.241 36.842-36.841 55.24 55.24a8.68 8.68 0 0 0 14.225-2.972c13.863-35.374 5.464-75.586-21.396-102.447zM139.68 388.935a8.669 8.669 0 0 0-1.438 1.903l-29.843 53.376-41.132 20.566-21.85-21.85 20.565-41.133 53.375-29.842a8.669 8.669 0 0 0 1.903-1.438l86.789-86.79 18.421 18.421-86.79 86.787zm339.18 42.795l-51.052-51.052a8.686 8.686 0 0 0-12.281 0L366.405 429.8a8.686 8.686 0 0 0 0 12.282l51.053 51.053c-25.314 5.03-51.861-2.739-70.527-21.405-21.977-21.977-28.85-54.882-17.507-83.827a8.686 8.686 0 0 0-1.944-9.309L135.157 186.272a8.687 8.687 0 0 0-9.309-1.944c-28.944 11.344-61.849 4.469-83.827-17.506-18.667-18.668-26.437-45.216-21.404-70.528l51.052 51.053a8.686 8.686 0 0 0 12.281 0l49.122-49.122a8.685 8.685 0 0 0 0-12.281L82.02 34.891a78.17 78.17 0 0 1 70.527 21.405c21.977 21.977 28.85 54.882 17.507 83.827a8.686 8.686 0 0 0 1.944 9.309l192.321 192.32a8.687 8.687 0 0 0 9.309 1.944c28.946-11.34 61.849-4.47 83.827 17.506 18.669 18.668 26.437 45.217 21.405 70.528z'/%3E%3C/svg%3E") center/contain no-repeat;
}

.dashboard__item.dashboard-item--comments {
  background: linear-gradient(to bottom, rgba(83, 117, 159, 1) 30%, rgba(123, 154, 212, 0.9) 100%);
}

.dashboard__item.dashboard-item--users {
  background: linear-gradient(to bottom, rgba(212, 155, 56, 1) 30%, rgba(250, 206, 117, 0.9) 100%);
}

.dashboard__item.dashboard-item--unmoderated {
  background: linear-gradient(to bottom, rgba(86, 95, 135, 1) 30%, rgba(125, 131, 161, 0.9) 100%);
}

.dashboard-item__count {
  display: block;
  margin-bottom: rem(45);
  font-family: $medium;
  font-size: rem(86);
  line-height: 1;
  color: $mainTextAdmin;
}

.dashboard-item__title {
  font-size: rem(26);
  line-height: 1;
  color: $mainTextAdmin;
}
