.page-footer {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  min-height: rem(70);
  padding: rem(10) 0;
  background: linear-gradient(to bottom, #2b335b 0%,#121a3e 100%);
  box-shadow: 0 -8px 13px 1px rgba(14, 15, 15, 0.3);
}


// Developed
.page-footer__developed {
  margin-left: rem(35);
}

.developed__link {
  display: flex;
  align-items: center;
}

.developed__img {
  width: rem(60);
  height: rem(45);
  margin-right: 5px;
  fill: #ffffff;
}

.developed__text {
  position: relative;
  padding-left: 5px;
  font-size: rem(20);
  line-height: 1;
  color: #ffffff;
}

.developed__text::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #ffffff;
}


// Version
.page-footer__version {
  margin: 0 auto;
}

.page-footer__version p {
  font-size: rem(20);
}
