// Edit-form
.edit-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.edit-form__block {
  position: relative;
}

.edit-form__result-list {
  position: absolute;
  top: 100%;
  z-index: 100;
  width: 100%;
  max-height: 100px;
  padding: 5px;
  overflow-y: auto;
  background: #eeeeee;

  &.close {
    display: none;
  }
}

.edit-form__result-item {
  margin-bottom: 10px;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background: #cccccc;
  }
}

.edit-form__block-title {
  margin-bottom: rem(25);

  span {
    display: block;
    margin-bottom: rem(15);
    padding-left: rem(25);
    font-size: rem(23);
  }
}

.edit-form__field {
  width: 100%;
  padding: rem(10) rem(15);
  font-size: rem(20);
  background: #ffffff;
  border: 1px solid #8488a1;
  border-radius: 10px;
  box-shadow: inset 0 5px 10px 1px rgba(14, 15, 15, 0.15);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.edit-form__field:disabled {
  color: #000000;
  background: #dbdbdb;
}

.edit-form__field::placeholder {
  font-size: rem(20);
}

.edit-form__block {
  width: 30%;
  margin-bottom: rem(20);
}

.edit-form__block--submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: rem(50);
  margin-bottom: 0;

  .edit-form__btn {
    margin-right: rem(20);

    &:last-child {
      margin-right: 0;
    }
  }
}


.edit-form__block--text {
  float: right;
  margin-left: 30px;
}

.form-section--content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  width: 65%;

  .edit-form__block {
    align-items: flex-start;
    width: 46%;
  }
}

.form-section--text {
  width: 30%;

  .edit-form__block {
    width: 100%;
  }
}


// Projects form
.search-form__block {
  position: relative;
  border: 1px solid #2b325a;

  input {
    width: 100%;
    padding: 0.5rem;
    color: #132635;
    background: transparent;
    border: none;
  }
}

.search-form__result-list {
  position: absolute;
  top: 100%;
  z-index: 100;
  width: 100%;
  max-height: 100px;
  padding: 5px;
  overflow-y: auto;
  background: #eeeeee;
}

.search-form__result-item {
  margin-bottom: 10px;
  color: #132635;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background: #cccccc;
  }
}

.edit-form__block--checkbox {
  .edit-form__block-title {
    display: flex;
    align-items: center;
    margin-bottom: 0;

    span {
      margin-bottom: 0;
    }

    input {
      width: rem(25);
      height: rem(25);
    }
  }
}
