.users {
  height: 100%;
  overflow-y: auto;
}

.users__search {
  min-width: rem(300);
}


// Users search form
.search__block {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #2b325a;

  input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: calc(100% - 30px);
    padding: rem(8);
    font-family: $light;
    font-size: rem(16);
    color: $mainTextAdmin;
    background: transparent;
    border: none;
  }
  ;

  input:focus {
    background: #ffffff;
    outline: none;
  }

  select {
    width: 100%;
    padding: rem(8);
    padding-right: 10px;
    font-family: $light;
    font-size: rem(16);
    color: $mainTextAdmin;
    border: none;
  }

  select:focus {
    outline: none;
  }
}


// Users table
.users__table {
  margin-bottom: rem(25);
  overflow-x: auto;
}

.users__new-btn {
  margin: 0 auto;
  font-size: rem(20);
}
