/node_modules
/public/hot
/public/storage
!/storage/app/public/
/storage/*.key
/storage/cache/
/vendor
.composer.phar
.env
.phpunit.result.cache
.gitignore
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.git
/.idea
route.txt


