// Typography
$light: "montserratlight", "Arial", sans-serif;
$regular: "montserratregular", "Arial", sans-serif;
$medium: "montserratmedium", "Arial", sans-serif;

// Colors
$textColor: #424242;
$purple: #c43dff;
$mainTextAdmin: #132635;

// Other variables
$transition: 0.3s ease-in-out;
